@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Calories" class="btn btn-primary">Overview</a>
    <a asp-controller="Home" asp-action="CreateEditCalories" class="btn btn-primary">Create new</a>
</div>
